@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2)
		format("woff2");
	unicode-range: u+0000-00ff,
		u+0131,
		u+0152-0153,
		u+02bb-02bc,
		u+02c6,
		u+02da,
		u+02dc,
		u+2000-206f,
		u+2074,
		u+20ac,
		u+2122,
		u+2191,
		u+2193,
		u+2212,
		u+2215,
		u+feff,
		u+fffd;
}

@font-face {
	font-family: "Share Tech Mono";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/sharetechmono/v8/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2)
		format("woff2");
	unicode-range: u+0000-00ff,
		u+0131,
		u+0152-0153,
		u+02bb-02bc,
		u+02c6,
		u+02da,
		u+02dc,
		u+2000-206f,
		u+2074,
		u+20ac,
		u+2122,
		u+2191,
		u+2193,
		u+2212,
		u+2215,
		u+feff,
		u+fffd;
}

html {
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
}

body {
	color: #343A40;
}

section {
	max-width: 800px;
	margin: 0 auto;
}

a {
	color: #364FC7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[name]:hover {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
}

h4 {
	font-size: 1.2rem;
}

code,
.codeblock_name {
	font-family: "Share Tech Mono", monospace;
}

blockquote {
	background-color: #DEE2E6;
	color: #495057;
	border-left: 4px solid #5C7CFA;
	padding: 0 12px;
}

pre.prettyprint {
	font-size: 16px;
	font-family: "Share Tech Mono", monospace;
}
