@font-face {
	/*
		Determines how a font face is displayed on whether and when it is
		downloaded and ready to use.
	*/
	font-display: swap;
	/*
		Specifies a name that will be used as the font face value for font
		properties.
	*/
	font-family: "Open Sans";
	/*
		A font-style value. Since Firefox 61 (and in other modern browsers) this
		also accepts two values to specify a range that is supported by a
		font-face, for example font-style: oblique 20deg 50deg;
	*/
	font-style: normal;
	/*
		A font-weight value. Since Firefox 61 (and in other modern browsers)
		this also accepts two values to specify a range that is supported by a
		font-face, for example font-weight: 100 400;
	*/
	font-weight: normal;
	/*
		Specifies the resource containing the font data. This can be a URL to a
		remote fontfile location or the name of a font on the user's computer.
	*/
	src:
		url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2)
		format("woff2");
	/*
		The range of Unicode code points to be used from the font.
	*/
	unicode-range:
		u+0000-00ff,
		u+0131,
		u+0152-0153,
		u+02bb-02bc,
		u+02c6,
		u+02da,
		u+02dc,
		u+2000-206f,
		u+2074,
		u+20ac,
		u+2122,
		u+2191,
		u+2193,
		u+2212,
		u+2215,
		u+feff,
		u+fffd;
}

@font-face {
	/*
		Determines how a font face is displayed on whether and when it is
		downloaded and ready to use.
	*/
	font-display: swap;
	/*
		Specifies a name that will be used as the font face value for font
		properties.
	*/
	font-family: "Share Tech Mono";
	/*
		A font-style value. Since Firefox 61 (and in other modern browsers) this
		also accepts two values to specify a range that is supported by a
		font-face, for example font-style: oblique 20deg 50deg;
	*/
	font-style: normal;
	/*
		A font-weight value. Since Firefox 61 (and in other modern browsers)
		this also accepts two values to specify a range that is supported by a
		font-face, for example font-weight: 100 400;
	*/
	font-weight: normal;
	/*
		Specifies the resource containing the font data. This can be a URL to a
		remote fontfile location or the name of a font on the user's computer.
	*/
	src:
		url(https://fonts.gstatic.com/s/sharetechmono/v8/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2)
		format("woff2");
	/*
		The range of Unicode code points to be used from the font.
	*/
	unicode-range:
		u+0000-00ff,
		u+0131,
		u+0152-0153,
		u+02bb-02bc,
		u+02c6,
		u+02da,
		u+02dc,
		u+2000-206f,
		u+2074,
		u+20ac,
		u+2122,
		u+2191,
		u+2193,
		u+2212,
		u+2215,
		u+feff,
		u+fffd;
}

/*
	Main Root
*/

html {
	/* Fonts */
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
}

/*
	Sectioning Root
*/

body {
	/* Color */
	color: #343A40;
}

/*
	Content Sectioning

	Content sectioning elements allow you to organize the document content into
	logical pieces. Use the sectioning elements to create a broad outline for
	your page content, including header and footer navigation, and heading
	elements to identify sections of content.
*/

h1 {
	/* Fonts */
	font-size: 2rem;
}

h4 {
	/* Fonts */
	font-size: 1.2rem;
}

section {
	/* Box Model */
	margin: 0 auto;
	max-width: 800px;
}

/*
	Text Content

	Use HTML text content elements to organize blocks or sections of content
	placed between the opening <body> and closing </body> tags. Important for
	accessibility and SEO, these elements identify the purpose or structure of
	that content.
*/

blockquote {
	/* Backgrounds and Borders */
	background-color: #DEE2E6;
	border-left: 4px solid #5C7CFA;

	/* Box Model */
	padding: 0 12px;

	/* Color */
	color: #495057;
}

pre.prettyprint {
	/* Fonts */
	font-family: "Share Tech Mono", monospace;
	font-size: 16px;
}

/*
	Inline Text Semantics

	Use the HTML inline text semantic to define the meaning, structure, or style
	of a word, line, or any arbitrary piece of text.
*/

a {
	/* Color */
	color: #364FC7;

	/* Text Decoration */
	text-decoration: none;
}

a:hover {
	/* Text Decoration */
	text-decoration: underline;
}

a[name]:hover {
	/* Text Decoration */
	text-decoration: none;
}

code,
.codeblock_name {
	/* Fonts */
	font-family: "Share Tech Mono", monospace;
}
